/* COLORS */

$header-color: #e92121;
$header-background: rgba(255,255,255, 0.5);
$legend-color: #45173C;
$form-background: rgba(255,255,255, 0.3);

/* FONTS */

$menu-font: 'Caveat Brush', cursive;
$logo-font: 'Lobster', cursive;