@import "modules/reset";
@import "modules/variables";
@import "modules/mixins";
@import "partials/header";
@import "partials/form";
@import "partials/article";
@import "partials/aboutme";
@import "partials/projects";
@import "partials/contact";
@import "partials/section2";

/******* MAIN PART *******/

body {
  font-size: 16px;
  height: 100vh;
  background-image: url('../images/warzywka.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: auto;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  min-hight: 900px;
}

.hidden {
  display: none;
}

/******* SECTION 1 *******/

.section1 {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  min-height: 650px;
}

/******* MEDIA QUERIES *******/

@media (max-width: 936px) {
  body {
    background-image: url("../images/bamboo.jpg");
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    background-repeat: repeat-y;
    .section1 {
      flex-direction: column;
      justify-content: center;
    }
    form {
      background-color: $header-background;
    }
    article {
      background-color: $header-background;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      .about {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        .avatar {
        }
        article {
          flex-basis: 90%;
          margin-left: 0;
          margin-right: 0;
          text-align: justify;
        }
      }
    }
  }
  article {
    h1 {
      text-align: center;
    }
  }
  .contact {
    background-color: $header-background;
    margin-top: 1rem;
    border-radius: 1.875rem;
    h1 {
      &:hover {
        color: $hover-contact-color;
        cursor: pointer;
        transition: color 0.5s;
      }
      a {
        color: $legend-color;
        &:hover {
          color: $hover-contact-color;
          transition: color 0.5s;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  header {
    text-align: center;
    img {
      display: none;
    }
    h1 {
      font-size: 1.5rem;
      margin: 0 auto;
      float: none;
      padding-bottom: 1rem;
      line-height: 2rem;
    }
    #nav-icon3 {
      float: none;
      clear: both;
      top: -1rem;
      margin: 0 auto;
      span {
        height: 5px;
        width: 80%;
        position: absolute;
        
      }
    }
    nav {
      float: none;
      clear: both;
      margin: 0 auto;
      text-align: center;
      ul {
        float: none;
        clear: both;
        text-align: center;
        li {
          text-align: center;
          float: none;
          display: inline-block;
        }
      }
    }
  }
  .contact {
    h1 {
      font-size: 1.5rem;
      padding-left: 0;
      &:last-child {
        margin-left: 0;
      }
    }
    img {
      display: block;
    }
  }
  form {
    button {
      padding-bottom: 0.3rem;
    }
  }
  article {
    div {
      img {
        margin: 0;
      }
    }
  }
}

@media(max-width: 437px) {
  .section1 {
    margin: 0;
    align-items: center;
    form {
      padding: 1rem;
      margin: 1rem;
      width: 100%;
    legend {
      font-size: 2rem;
    }
    [name="meal"] {
      font-size: 1rem;
    }
    label {
      font-size: 1rem;
    }
  }
    article {
      width: 100%;
      h1 {
        margin-left: 0;
      }
      p.introParagraph {
        font-size: 1.5rem;
      }
    }
  }
  .contact {
    h1 {
      font-size: 1rem;
    }
  }
}
